<body>
  <h1>Chat room list</h1>
  <p>Rooms found: <%= @chatroom.count %></p>
  <ul>
    <% @chatroom.each do |element| %>
      <li><%= link_to element.name, get_chatroom_path(element)  %></li>
    <% end %>
  </ul>
</body>


